html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 1500px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* a:hover {
  color: blue;
} */

* {
  box-sizing: border-box;
}

/* --- This CSS is used in the sponsors page. --- */
.sponsorsContainer {
  margin-left: 100px;
  margin-top: 100px;
}

.sponsorLogoImage {
  width: 300px;
  height: 200px;
  background-size: cover;
}

/* --- This CSS is used in the navigation bar component. --- */
.NavigationBar {
  background-color: #0a0200;
}

/* --- This CSS is used in multiple pages --- */
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: red;
  height: 2px;
}

h3 {
  margin-block-end: 0em;
}
